TestWS/Web References/leadCatcherV3TEST/LeadCatcher.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://leadcatcher.ubh.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://leadcatcher.ubh.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://leadcatcher.ubh.com/">
      <s:element name="AddLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="officeCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brochure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddLeadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeadV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="officeCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brochure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="optOut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeadV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddLeadV2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeadV3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brochure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="optOut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLeadV3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddLeadV3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckZIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddLeadSoapIn">
    <wsdl:part name="parameters" element="tns:AddLead" />
  </wsdl:message>
  <wsdl:message name="AddLeadSoapOut">
    <wsdl:part name="parameters" element="tns:AddLeadResponse" />
  </wsdl:message>
  <wsdl:message name="AddLeadV2SoapIn">
    <wsdl:part name="parameters" element="tns:AddLeadV2" />
  </wsdl:message>
  <wsdl:message name="AddLeadV2SoapOut">
    <wsdl:part name="parameters" element="tns:AddLeadV2Response" />
  </wsdl:message>
  <wsdl:message name="AddLeadV3SoapIn">
    <wsdl:part name="parameters" element="tns:AddLeadV3" />
  </wsdl:message>
  <wsdl:message name="AddLeadV3SoapOut">
    <wsdl:part name="parameters" element="tns:AddLeadV3Response" />
  </wsdl:message>
  <wsdl:message name="CheckZIPSoapIn">
    <wsdl:part name="parameters" element="tns:CheckZIP" />
  </wsdl:message>
  <wsdl:message name="CheckZIPSoapOut">
    <wsdl:part name="parameters" element="tns:CheckZIPResponse" />
  </wsdl:message>
  <wsdl:portType name="LeadCatcherServiceSoap">
    <wsdl:operation name="AddLead">
      <wsdl:input message="tns:AddLeadSoapIn" />
      <wsdl:output message="tns:AddLeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLeadV2">
      <wsdl:input message="tns:AddLeadV2SoapIn" />
      <wsdl:output message="tns:AddLeadV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLeadV3">
      <wsdl:input message="tns:AddLeadV3SoapIn" />
      <wsdl:output message="tns:AddLeadV3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckZIP">
      <wsdl:input message="tns:CheckZIPSoapIn" />
      <wsdl:output message="tns:CheckZIPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LeadCatcherServiceSoap" type="tns:LeadCatcherServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLead">
      <soap:operation soapAction="https://leadcatcher.ubh.com/AddLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeadV2">
      <soap:operation soapAction="https://leadcatcher.ubh.com/AddLeadV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeadV3">
      <soap:operation soapAction="https://leadcatcher.ubh.com/AddLeadV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckZIP">
      <soap:operation soapAction="https://leadcatcher.ubh.com/CheckZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LeadCatcherServiceSoap12" type="tns:LeadCatcherServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLead">
      <soap12:operation soapAction="https://leadcatcher.ubh.com/AddLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeadV2">
      <soap12:operation soapAction="https://leadcatcher.ubh.com/AddLeadV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLeadV3">
      <soap12:operation soapAction="https://leadcatcher.ubh.com/AddLeadV3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckZIP">
      <soap12:operation soapAction="https://leadcatcher.ubh.com/CheckZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeadCatcherService">
    <wsdl:port name="LeadCatcherServiceSoap" binding="tns:LeadCatcherServiceSoap">
      <soap:address location="http://corptest.ubh.com/LeadCatcherWS/LeadCatcher.asmx" />
    </wsdl:port>
    <wsdl:port name="LeadCatcherServiceSoap12" binding="tns:LeadCatcherServiceSoap12">
      <soap12:address location="http://corptest.ubh.com/LeadCatcherWS/LeadCatcher.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>